server
{
        listen   80;
        
        #root /usr/share/nginx/{{ server_hostname }}
        root /usr/share/nginx/wordpress;
        index index.php index.html;

        #server_name {{ server_hostname }} www.{{ server_hostname }};
        server_name localhost;
        
        location /
        {
                try_files $uri $uri/ /index.php?q=$uri&$args;
        }

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        location ~ \.php$
        {
                try_files $uri =404;
                #fastcgi_pass 127.0.0.1:9000;
                # With php5-fpm:
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_index index.php;
                include fastcgi_params;
        }

	access_log /var/log/nginx/{{ server_hostname }}.log;
	error_log /var/log/nginx/{{ server_hostname }}.log;
}
